*{
    margin: 0;
    padding: 0;
}

body{
    background-color: antiquewhite;
}

.cabeçalho{
    background: #6B624C;
    display: flex;

}

#logo-1 > img{
    width: 10vw;/*largura*/
   /* height: 10vh; altura*/
    margin-top: 5px;
    margin-left: 300px;
}

.cabeçalho > nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}
.cabeçalho-lista{
    list-style: none;
    display: flex;
    margin-left: 300px;
}

.cabeçalho-lista > li{
    cursor: pointer;
    letter-spacing: 3px;
    margin-left: 25px;
}

.principal{
    align-items: center;
    display: flex;
    align-items: center;
    background: url(bg4.jpg) no-repeat center center;
    background-size: cover;
    height: 92vh;
}

.logo-main{
    left: 40%;
    position: relative;
    width: 25%;
    bottom: 40%;
    height:auto ;
    margin-top: 15px;
}
a {
    color:black ;
    text-decoration: none;
    transition: 0.3;

}
a:hover{
    opacity: 0.6;
}

.tela{
    display: flex;
    position: relative;
    top: 10%;
    right: 8%;
    background: #000000b2;
    width: 1870px;
    height: 570px;
    flex-wrap: wrap;
    border-radius: 10px;
}
.tela > div{
    background: #000000a4;
    border-radius: 10px;
    display: block;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    margin-left: 35px;
    margin-top: 10px;
}
.tela > div > p{
    color: aliceblue;
    align-items: center;
    margin-top: 5px;
}
div > a{
    color: aliceblue;
}
div > a:hover{
    color: #ce0a0abd;
}

footer{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background: #6B624C;
    height: 10vh;
}

#dados-1{
    align-items: center;
}
.rodape p{
    align-items: center;

}